<div>
    <button mat-raised-button 
    color="primary"
    (click) = "addCustomerFormOpen = true">
    Add Customer
   </button>   
  </div>
  <div>
    <customerform *ngIf = "addCustomerFormOpen"
      [formType] = "'Add Book'"
      (update) = "add($event)"
      (closeEdit) = "addCustomerFormOpen = false">
    </customerform>
  </div>
  <table mat-table [dataSource]="customers" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span *ngIf = "i!=rowToEdit">{{element.name}}</span> 
          <mat-form-field *ngIf = "i==rowToEdit" >
            <input          
              matInput
              [(ngModel)]="customerToEdit.name" 
              [value] = "element.name"            
            >
          </mat-form-field>
        </td>
      </ng-container>
    
      <!-- Years Column -->
      <ng-container matColumnDef="Education in years">
        <th mat-header-cell *matHeaderCellDef> Education in years </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span *ngIf = "i!=rowToEdit">{{element.years}}</span>
          <mat-form-field *ngIf = "i==rowToEdit" >
            <input          
              matInput
              [(ngModel)]="customerToEdit.years" 
              [value] = "element.years"            
            >
          </mat-form-field>         
        </td>
      </ng-container>
    
      <!-- Income Column -->
      <ng-container matColumnDef="Personal income">
        <th mat-header-cell *matHeaderCellDef> Personal income </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span *ngIf = "i!=rowToEdit">{{element.income}}</span>
          <mat-form-field *ngIf = "i==rowToEdit" >
            <input          
              matInput
              [(ngModel)]="customerToEdit.income" 
              [value] = "element.income"            
            >
          </mat-form-field>         
        </td>
      </ng-container>
  
      <!-- Delete Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            mat-raised-button
            color = 'warn'
            (click) = "deleteCustomer(i)"
          >
            Delete
          </button>                  
        </td>
      </ng-container>    
  
      <!-- Edit Column -->
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            *ngIf = "i!=rowToEdit"
            mat-raised-button
            (click) = "moveToEditState(i)"
          >
            Edit
          </button> 
          <button 
            *ngIf = "i==rowToEdit"
            mat-raised-button
            color="primary"
            (click) = "updateCustomer()"
          >
            save
          </button> 
          <button 
            *ngIf = "i==rowToEdit"
            mat-raised-button
            (click) = "rowToEdit = null"
          >
            Cancel
          </button>                   
        </td>
      </ng-container>    
  
      <!-- Predict Column -->
      <ng-container matColumnDef="Predict">
        <th mat-header-cell *matHeaderCellDef> Predict </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button *ngIf = "!element.result" mat-raised-button 
          color="primary"
          (click) = "predict(i)"
          >
          Predict
        </button>  
        <button *ngIf = "element.result&&!element.saved" mat-raised-button 
        color="primary"
        (click) = "updateResult(i)"
        >
        Save
      </button>
        <span *ngIf = "element.saved">saved</span>        
        </td>
      </ng-container>  
      
      <!-- result Column -->
      <ng-container matColumnDef="Result">
        <th mat-header-cell *matHeaderCellDef> Result </th>
        <td mat-cell *matCellDef="let element">
          <span  [ngClass]="[element.result=='Will pay' ? 'green' : 'red']">{{element.result}}</span>
        </td>
      </ng-container>    
    
      <ng-container matColumnDef="Check">
        <th mat-header-cell *matHeaderCellDef> Check </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-checkbox class="example-margin"
          
          (change)="checkSelected(i)"></mat-checkbox>
        </td>
      </ng-container>  
        
    <!--[checked]="element.result=='Will pay'"-->
       
   
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



      <button  mat-raised-button 
        color="primary"
        (click) = "deleteSelected()"
        >
        Delete Selected
      </button>