<p>customer-form works!</p>
<mat-card>
    <h1>{{formType}}</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
        </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Years</mat-label>
              <input name="myYears" matInput
                [(ngModel)] = "years" 
                name = "years"
                (input)="validateAge(years)"
                required>
                <span [hidden]="hasNotError">Between 0 and 24</span>
               
                
              
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income" 
                name = "income" 
                required>
            </mat-form-field>
          </p>                      
        <div >
            <button mat-raised-button color="primary" 
            (click) = "updateParent()">
                     {{formType}}
            </button>
  
            <button mat-raised-button  (click) = "tellparentToClose()">
              Cancel 
     </button>
        </div>
      </div>
    </form>
   </mat-card>